.row {
	max-width: $grid-width;
	margin: 0 auto;
	margin-bottom: $gutter-vertical;

	// becouse the last row doesnt need a margin below itself:
	&:last-child {
		margin-bottom: 0;
	}

	@include clearfix;

	// below is a prefix and everything inside it will be added to everything, that starts with "col-"
	[class^="col-"] {
		float: left;

		// becouse only the last child in a row shouldnt have a margin to its right side
		&:not(:last-child) {
			margin-right: $gutter-horizontal;
		}
	}

	.col-1-of-2 {
		width: calc((100% - #{$gutter-horizontal}) / 2);
	}

	.col-1-of-3 {
		width: calc((100% - (#{$gutter-horizontal} * 2)) / 3);
	}

	.col-2-of-3 {
		width: calc(((100% - (#{$gutter-horizontal} / 2)) / 3) * 2);
	}

	.col-1-of-4 {
		width: calc((100% - (#{$gutter-horizontal}) * 3) / 4);
	}

	.col-2-of-4 {
		width: calc(2 * ((100% - (#{$gutter-horizontal}) * 3) / 4) + #{$gutter-horizontal});
	}

	.col-3-of-4 {
		width: calc(3 * ((100% - (#{$gutter-horizontal}) * 3) / 4) + (#{$gutter-horizontal} * 2));
	}
}
